{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "global-require": 0,
    "no-return-assign": 0,
  },
  "globals": {
    "fetch": false,
    "alert": false,
    "FormData": false,
    "Headers": false,
    "__DEV__": false,
  }
}
